:root{
    --main-font: Courier New, monospace;
}

h1{
    text-align: center;
    color: hsl(141, 67%, 59%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: var(--main-font);
  }

h2{
    margin-left: 15px;
    font-family: var(--main-font);
}

body{
background-image: url("https://previews.123rf.com/images/vkulieva/vkulieva1602/vkulieva160200007/52452427-seamless-pattern-for-todo-list-universal-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}

main{
    width: 900px;
    background-image: linear-gradient(to right, lightgreen, yellow);
    margin-left: 500px;
    margin-right: 500px;
    border: 3px solid black;
    }

[type="text"], #prioritySelector, [type="date"]{
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 4px;
    border: 0.5px solid black;
  }

.todoContainer {
    margin-left: 15px;
    width: 800px;
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
}

#taskProperties {
    list-style: none;
    width: 800px;
    height: 50px;
    margin: 0;
    padding: 0;
}

#taskProperties > [class="priority"] {
    float: left;
    width: 30px;
}

#taskProperties > [class="todoCreatedAt"], [class="todoDueDate"] {
    float: left;
    width: 150px;
}

#taskProperties > [class="todoText"] {
    float: left;
    width: 350px;
    overflow: auto;
}

button {
    background-color: hsl(120, 70%, 50%);
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0.5em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight: 300;
    color:#FFFFFF;
    text-align: center;
    transition: all 0.2s;
}
button:hover{
    color: #000000;
    background-color: #FFFFFF;
}

.btn {
    border-radius: 50px;
    background-color: lightgreen;
    border: none;
    color: white;
    padding: 10px 14px;
    font-size: 12px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: green;
  }

  .btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

